# SCOPE v9 sram_mram_mram; see v9-manifest.json for mapping limits.
-accel_scope_enabled 1
-power_simulation_enabled 1
-accel_scope_gpu_nonstorage_scale 1.0
-gpgpu_n_sub_partition_per_mchannel 4
-accel_scope_l3_partition_queues 64:64:64:64
-accel_scope_noncache_power_mw 0.0
-accel_scope_dram_access_energy_pj 2560.0
-accel_scope_l1_access_energy_pj 82.898822164
-accel_scope_l1_static_power_mw 7.130630400
-gpgpu_cache:dl2 S:8:128:16,L:B:m:L:L,A:192:32,32:0,32
-accel_scope_l2_latency 4
-accel_scope_l2_access_energy_pj 323.394153858
-accel_scope_l2_static_power_mw 0.070134485
-gpgpu_cache:dl3 S:32:128:16,L:B:m:L:L,A:192:32,32:0,32
-accel_scope_l3_latency 5
-accel_scope_l3_access_energy_pj 413.549597868
-accel_scope_l3_static_power_mw 0.210305638
